<div id="formContent" class="regFormContainer">
    <!-- Icon -->
    <div class="regMainScreen">
        <h2 class="loginTitle"> Sign Up </h2>
        <div class=>
            <img src="/static/img/userGenericImg.webp" id="icon" class="loginIcon" alt="User Icon" />
        </div>
        <!-- Register Form -->
        <form class="regForm" action="/register" method="post">
            <input type="text" id="registerUser" name="usuario" placeholder="usuario" required>
            <input type="password" id="registerPassword"  name="password" placeholder="contraseña" required>
            <p class="errorRegisterText"> {{errorRegister}} </p>
            <input type="submit" class='regSubmitButton' value="Sign Up">
        </form>
        <p> Ya tienes cuenta? <a href="/login"> Ingresa </a> </p>
    </div>
</div>

